// First-PR form styles

.content {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}
#user-form, .result {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  overflow: hidden;
  padding: 0;
  position: relative;
}
.login-field {
  border: 4px solid #eee;
  border-radius: 1px;
  box-shadow: 0;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  width: 100%;
  padding: 10px 10px;
  transition: border-color 0.3s ease;
  &:focus {
    border-color: $green;
    outline: none;
  }
}
.submit-btn {
  display: none;
}
