/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

* {
  box-sizing: border-box;
}
html, body {
  background: #f5f5f7;
}
strong {
  font-weight: 900;
}
.first-pr {
  display: flex;
  margin: 0 10px;
  min-height: 100vh;
  flex-direction: column;

  color: #333335;
  font: 18px/30px Lato, sans-serif;
  font-weight: 400;
  text-align: center;
}
.content {
  flex: 1;
}

header {
  padding: 50px 0 25px;
}
  header .icon {
    height: 75px;
    width: 75px;
  }
  header h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    margin: 25px 0 5px;
  }
  header h2 {
    color: #99999b;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
  }

.content {
  margin: 0 auto;
}
  .login-field {
    border: 4px solid #eee;
    border-radius: 6px;
    box-shadow: 0 0 0;
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight: 300;
    width: 100%;
    max-width: 400px;
    padding: 10px 10px;
    transition: border-color 0.3s ease;
  }
  .login-field:focus {
    border-color: #2ecc71;
    outline: none;
  }
  .submit-btn {
    display: none;
  }
  #main {
    font-size: 16px;
    line-height: 24px;
    margin: 40px 0;
  }
  #main p a, #main p a:visited{
    color: #2ecc71;
  }

  #main p {
    margin-bottom:10px;
  }
    .no-pr-found {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .pull-request {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 6px rgba(0,0,0,.1);
      font-size: 14px;
      line-height: 20px;
      padding: 20px;
      text-align: left;
      max-width: 800px;
    }
    .pull-request h2 {
      font-size: 25px;
      font-weight: normal;
      line-height: 30px;
      margin-bottom: 15px;
    }
    .pull-request a {
      color: inherit;
      font-weight: 900;
      text-decoration: none;
    }
    .pull-request a:hover {
      text-decoration: underline;
    }
    .pull-request h2 small {
      color: #99999b;
      font-size: 18px;
    }
    .pr-number {
      color: #99999b;
    }
    .user-media, .pr-dates {
      overflow:hidden;
      _overflow:visible;
      zoom:1;
    }
    .avatar {
      float: left;
      margin: 1px 10px 0 0;
    }
    .avatar img {
      border-radius: 4px;
      display: block;
    }

    @media (min-width: 600px) {
      #main p.sent-on {
        margin-bottom: 0;
      }

    }

footer {
  color: #999;
  font-size: 14px;
  padding: 10px 0;
}
  footer a {
    color: #666;
  }

.state{
  line-height:20px;
  color:#fff;
  padding:3px 6px;
  border-radius:3px;
  display:inline-block;
}

  .merged{
    background:#6e5494;
  }
  .open{
    background:#6cc644;
  }
  .closed{
    background:#bd2c00;
  }

#tweet{
  width:110px;
  margin:20px auto;
}
